.services-grid-container {
  background-color: var(--light-color);
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card {
  background-color: white;
  border-radius: 8px;
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: transform 0.2s ease;
  height: 200px !important;
}

.service-card:hover {
  transform: translateY(-4px);
}

.service-title {
  font-family: 'Abhaya Libre', serif;
  font-size: 24px;
  font-weight: bold !important;
}

.service-description {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.service-price {
  font-weight: bold;
  color: var(--dark-pink);
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-book-btn {
    margin-top: 50px;
    font-family: 'Abel', sans-serif;
    background-color: var(--dark-pink);
    font-size: 22px !important;
    border: none;
    width: 350px;
    height: 50px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.services-book-btn:hover {
    background-color: var(--darker-pink) !important;

}

.icon {
  margin-left: 10px;
}