.serviceshero-div {
    background-image: url('../assets/salonbooking.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10vh;
}

.serviceshero-title {
    font-size: 64px;
    font-family: 'Abhaya Libre', sans-serif;
    color: white;
    font-weight: bold;
}