.services-div {
    height: 60vh;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    background-color: #ffe2ee;

}

.services-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title {
    font-size: 64px;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: bold;
}

.services-bar {
    width: 80px;
    height: 3px;
    background-color: var(--dark-color);
    margin: 0 auto 20px auto;
    border-radius: 4px;
}

.services-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

.services-description {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    max-width: 800px;
}

.services-more a{
    color: var(--dark-color) !important;
    font-size: 24px;
    transition: transform 0.2s ease;
    font-weight: bold;
    display: inline-block;
}

.services-more a:hover {
    transform: translateY(-4px) !important;
    cursor: pointer; 
}